body,a{
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    font-family: Tahoma,Arial,sans-serif;
    margin: 0;
    padding: 0;
}
button{
    cursor: pointer;
}
a{
    text-decoration: none;
    cursor: auto;/*????*/
}
header{
    background-color: #ffffff;
    position: relative;
}
.container{
    margin: 0 auto;
    position: relative;
    width: 1200px;
    padding-top: 90px;
}
header h1{
    position: absolute;
    left: 41px;
    top: 19px;
    font-size: 100%;
}
.topnav ul{
    position: absolute;
    left: 225px;
    top: 0;
}
nav ul li{
    float: left;
}
li{
    list-style: none;
}
.topnav li .a-current {
    background-color: #31c27c;
    color: #fff;
}
.topnav li a{
    display: block;
    padding: 0 20px;
    line-height: 90px;
    text-align: center;
    font-size: 18px;
}
nav a:hover{
    color: #31c27c;
}
.subnav ul{
    height: 51px;
    line-height: 51px;
    border-top: 1px solid #f2f2f2;
    padding-left: 256px;
}
.subnav ul li{
    float: left;
    font-size: 15px;
    color: #c1c1c1;
    margin-right: 56px;
}
.s-current{
    color: #31c27c;
}
/***/
form{
    position: absolute;
    top: 0;
    right: 294px;
}
.search-box{
    border: 1px solid #c9c9c9;
    padding: 0 33px 0 15px;
    line-height: 36px;
    margin-top: 26px;
    position: relative;
    left: 35px;
    margin-top: 37px;
    border-radius: 3px;
    background-color: #ffffff;
}
form input{
    width: 200px;
    height: 36px;
    border: 0 none;
    font-size: 14px;
    background: 0 0;
}
form button{
    position: absolute;
    top: 0;
    right: 0;
    border: 0 none;
    width: 38px;
    height: 35px;
    overflow: visible;
    background: 0 0;
}
.icon-search{
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -8px;
}
.icon-txt{
    display: none;
}
/*btn-group*/
.button-group{
    position: absolute;
    top: 11px;
    right: -56px;
    height: 90px;
    line-height: 90px;
}
.button-group .login{
    font-size: 16px;
    float: left;
    width: 38px;
    margin-right: 11px;
    text-align: center;
    line-height: 90px;
}
.button-group .lz{
    line-height: 41px;
    margin-top: 24px;
    padding: 0 11px;
    margin-left: 10px;
    margin-right: 0;
    font-size: 13px;
}
.button-group .btn-green{
    border: 1px solid #31c27c;
    background-color: #31c27c;
    color: #ffffff;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}
.button-group .ff{
    line-height: 41px;
    margin-top: 24px;
    padding: 0 11px;
    margin-left: 10px;
    margin-right: 0;
    font-size: 13px;
    border: 1px solid #c9c9c9;
    overflow:hidden;
    border-radius: 2px;
    display: inline-block;
    white-space: nowrap;
}
/**********/
.top-rank{
    background: url("./img/bg.jpg") 50% 0 no-repeat;
    position: relative;
    color: white;
}
.top-rank section{
    height: 830px;
    z-index: 2;
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.rank-hd{
    position: relative;
    width: 490px;
    height: 48px;
    padding-top: 80px;
    margin: 0 auto 50px;
}
.rank-title{
    font-weight: 400;
    text-align: center;
    font-size: 38px;
    line-height: 38px;
    margin: 0;
}
.rank-line{
    background-color: #ffffff;
    position: absolute;
    top: 104px;
    width: 72px;
    height: 1px;
    opacity: .1;
}
.rk-line-l{
    left: 0;
}
.rk-line-r{
    right: 0;
}
.index-more{
    position: absolute;
    top: 128px;
    right: 0;
    font-size: 15px;
    color: #ffffff;
}
.toplist-item{
    position: relative;
    float: left;
    z-index: -2;
    width: 25%;
    height: 567px;
    overflow: hidden;
    padding-top: 79px;
}
.mask{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    transition: opacity .5s;
}
.toplist-line{
    position: absolute;
    left: 50%;
    top: 205px;
    margin-left: -31px;
    width: 62px;
    height: 2px;
    background: rgba(255,255,255,.3);
}
article h4,article h2{
    text-align: center;
    margin: 0;
    position: relative;
    z-index: 100;
}
article h4{
    opacity: .6;
}
.toplist-songlist{
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: 272px;
    left: 50%;
    margin-left: -90px;
    width: 180px;
    white-space: normal;
    padding:0;
}
.toplist-song{
    position: relative;
    padding-left: 15px;
    margin-bottom: 10px;
}
.name{
    top: 0;
    left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 2px;
    color: #ffffff;
    font-size: 16px;
}
.artist{
    font-size: 13px;
    opacity: 0.5;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
}
.toplist-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 567px;
    background-image: url("./img/bg_index_top.jpg");
}
.toplist-item-pop .toplist-bg{
    background-position: 0 0;
}
.toplist-item-new .toplist-bg{
    background-position: -300px 0;
}
.toplist-item-hot .toplist-bg{
    background-position: -600px 0;
}
.toplist-item-high .toplist-bg{
    background-position: -900px 0;
}
input:focus input:hover input:active{
    border: none;
}
 article.newsong{
     height: 110vh;
     background:url("./img/bg_index_new.jpg") 50% 0 repeat-x;
     display: flex;
     flex-direction:column;
 }
article.newsong h1{
    text-align: center;
    font-weight: 400;
    font-size: 47px;
    line-height: 38px;
    margin-top: 84px;
    color: #ffffff;
}
article.newsong ul{
    display: flex;
    justify-content:center;
    margin-bottom: 18px;
}
/*article.newsong .imgbox,*/.texbox span:nth-child(even){
                                margin-bottom: 32px;
                            }
article.newsong a{
    color: #fff;
    opacity: .5;
    font-size: 16px;
    margin: 0 35px;
}
article.newsong li a:hover ,.new-box span:nth-child(odd) a,article.newsong li:nth-child(1) a{
    color: #ffffff;
    opacity: 1;
}
.newsong-box{
    display: flex;
    justify-content:center;
}
.new-box:nth-child(odd){
    background: rgba(0,0,0,.8);
}
.new-box:nth-child(even){
    background: rgba(0,0,0,.6);
}
.texbox{
    display: flex;
    flex-direction: column;
    padding-top: 32px;
}
.texbox span{
    text-align: center;
}
.texbox:hover{
    filter: none;
    background-color: #31c27c;
}
.slide_switch__item {
    display: inline-block;
    width: 30px;
    height: 1px;
    padding: 10px 0;
    margin: 0 5px;
}
/*.white-line{*/
/*filter: none;*/
/*background-color: #fff;*/
/*}*/