.v1{
    height: 100vh;
    background: url("../img/5人.png") center center no-repeat;
    background-size:cover;
    /*display: flex;*/
    /*justify-content: center;*/
    padding: 50px;
}
.v2{
    background-image: url("../img/Q版路飞.jpg");

}